<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489886603568-ljoua9qelhabm2m8qok1dlilintd9ccv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489886603568-ljoua9qelhabm2m8qok1dlilintd9ccv</string>
	<key>API_KEY</key>
	<string>AIzaSyDDVK0W762-Yn8im-0HcJ29e-UQc2oKbjg</string>
	<key>GCM_SENDER_ID</key>
	<string>489886603568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eso.facility.maintenance</string>
	<key>PROJECT_ID</key>
	<string>facility-maintenance-29629</string>
	<key>STORAGE_BUCKET</key>
	<string>facility-maintenance-29629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489886603568:ios:d7ea1cb22fc391738710f5</string>
	<key>DATABASE_URL</key>
	<string>https://facility-maintenance-29629.firebaseio.com</string>
</dict>
</plist>